html{
  color-scheme: dark light;
}
:root{
  /* global colors */
  --facebook-blue: #4267B2;
  --twitter-blue: #1DA1F2;
  --youtube-red: #FF0000;
  --instagram-red: #F56040;
  --stapchat-yellow:#FFFC00;
  --git-hub-gray:#333;
}
body{
  min-height: 100vh;
  background-color: var(--bs-light);
  *, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font: inherit; */
  }
  img, picture, svg, video{
    display: block;
    max-width: 100%;
  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
  quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  content: '';
  content: none;
  }
  input, textarea, button, select{
    font: inherit;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
  }
  // font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  // font-family: 'IBM Plex Serif', serif;
}
/* Variables*/
$max-width-xsmall: 'max-width: 576px';
$min-width-xsmall: 'min-width: 576px';
$max-width-small: 'max-width: 768px';
$min-width-small: 'min-width: 768px';
$max-width-medium: 'max-width: 992px';
$min-width-medium: 'min-width: 992px';
$max-width-large: 'max-width: 1200px';
$min-width-large: 'min-width: 1200px';
//colors 
$primary: var(--bs-primary);
$secondary: var(--bs-secondary);
$dark: var(--bs-dark);
//spacing
$section-y-padding: 100px;
//borders
$border-radius: 16px;

/* components */
.just-align-center{
  justify-content: center;
  align-items: center;
}
.section{
  padding: $section-y-padding 0;
}
/* Custom Anchore Tags */
a.custom-anchor{
  text-decoration: none;
  color: inherit;
  position: relative;
  white-space: nowrap;
}
a.custom-anchor::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: blue;
  bottom: -0.1rem;
  left: 0;
  border-radius: 2px;
}
//text classes
.txt-h1{
  font-family: 'IBM Plex Serif', serif;
  font-size: 2.25rem;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing:.13em ;
  line-height: auto ;
  @media (#{$max-width-medium}){
    &{
      font-size: 1.75rem;
    }
  }
  @media (#{$max-width-small}){
    &{
      font-size: 1.35rem;
    }
  }
}
.txt-feature{
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing:.13em;
  line-height: auto;
  color: $secondary;
}
.txt-body-gray{
  font-size: 1.125;
  font-weight: 400;
  letter-spacing:.13em;
  line-height: auto;
  color: #d9d9d9;
}

// header
header{
  z-index: 1000;
  a.nav-link,a.dropdown-item{
    color: black !important; 
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .14em;
    text-align: center;
    &:hover{
      color: $primary !important;
    }
  }
  a.dropdown-item{
    font-size: 1rem;
  }
  @media(#{$max-width-medium}) {
    .navbar-collapse{
      ul{
        min-height: 100vh;
        padding: 0 0 30vh 0;
        justify-content: space-around;
      & li > a.btn{
        width: 50% !important;
      }
      }  
    }
  }
}
// hero
section.hero{
  background-color: black;
  padding-top: 70px;
  padding-bottom: 0px;
  overflow:hidden;
  .video-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    .bg-video{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  
  .row{
    position: relative;
    z-index: 1;
    min-height: 80vh;
    max-height: 1200px;
  }
  .col-left{
    background: rgb(8,5,5);
    background: linear-gradient(180deg, rgba(8,5,5,1) 20%, rgba(8,5,5,0.7) 62%, rgba(8,5,5,0.69) 67%, rgba(8,5,5,0.69) 75%, rgba(8,5,5,0) 100%);
    @media (#{$min-width-small}){
      background: linear-gradient(90deg, rgba(8,5,5,1) 20%, rgba(8,5,5,0.7) 62%, rgba(8,5,5,0.69) 67%, rgba(8,5,5,0.69) 75%, rgba(8,5,5,0) 100%);
    }
  }
  .col-left,.col-right{
    @media (#{$max-width-small}){
      height: 50%;
    }
  }
  .col-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    .hero-swiper, .hero-swiper-r{
      rotate:-30deg;
      transform-origin: center;
      @media(#{$max-width-large}){
        rotate: -50deg
      }
      @media(#{$max-width-medium}){
        rotate: -50deg
      }
      @media(#{$max-width-small}){
        rotate: 0deg
      }
    }
    .hero-swiper-r{
      margin-top: 0px;
      @media(#{$min-width-small}){
        margin-top: 80px;
      }
      @media(#{$min-width-medium}){
        margin-top: 180px;
      }
      @media(#{$min-width-large}){
        margin-top: 50px;
      }

    }
    .swiper-slide{
      width: 150px;
      height: 150px;
      @media (#{$max-width-medium}){&{
        width: 135px;
        height: 135px;
      }}
      @media (#{$max-width-xsmall}){&{
        width: 120px;
        height: 120px;
      }}
      overflow: hidden;
      border-radius: $border-radius;
      
      &:is(:focus, :hover){
        img{
          scale: 1.1;
        }
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          transition:500ms ease; 
        }
      }
    }
  }
}