html {
  color-scheme: dark light;
}

:root {
  /* global colors */
  --facebook-blue: #4267B2;
  --twitter-blue: #1DA1F2;
  --youtube-red: #FF0000;
  --instagram-red: #F56040;
  --stapchat-yellow:#FFFC00;
  --git-hub-gray:#333;
}

body {
  min-height: 100vh;
  background-color: var(--bs-light);
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
body *, body *::before, body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font: inherit; */
}
body img, body picture, body svg, body video {
  display: block;
  max-width: 100%;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
body ol, body ul {
  list-style: none;
}
body blockquote, body q {
  quotes: none;
}
body blockquote:before, body blockquote:after,
body q:before, body q:after {
  content: "";
  content: none;
}
body input, body textarea, body button, body select {
  font: inherit;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 0;
  padding: 0;
}

/* Variables*/
/* components */
.just-align-center {
  justify-content: center;
  align-items: center;
}

.section {
  padding: 100px 0;
}

/* Custom Anchore Tags */
a.custom-anchor {
  text-decoration: none;
  color: inherit;
  position: relative;
  white-space: nowrap;
}

a.custom-anchor::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: blue;
  bottom: -0.1rem;
  left: 0;
  border-radius: 2px;
}

.txt-h1 {
  font-family: "IBM Plex Serif", serif;
  font-size: 2.25rem;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  line-height: auto;
}
@media (max-width: 992px) {
  .txt-h1 {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .txt-h1 {
    font-size: 1.35rem;
  }
}

.txt-feature {
  font-family: "IBM Plex Serif", serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  line-height: auto;
  color: var(--bs-secondary);
}

.txt-body-gray {
  font-size: 1.125;
  font-weight: 400;
  letter-spacing: 0.13em;
  line-height: auto;
  color: #d9d9d9;
}

header {
  z-index: 1000;
}
header a.nav-link, header a.dropdown-item {
  color: black !important;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.14em;
  text-align: center;
}
header a.nav-link:hover, header a.dropdown-item:hover {
  color: var(--bs-primary) !important;
}
header a.dropdown-item {
  font-size: 1rem;
}
@media (max-width: 992px) {
  header .navbar-collapse ul {
    min-height: 100vh;
    padding: 0 0 30vh 0;
    justify-content: space-around;
  }
  header .navbar-collapse ul li > a.btn {
    width: 50% !important;
  }
}

section.hero {
  background-color: black;
  padding-top: 70px;
  padding-bottom: 0px;
  overflow: hidden;
}
section.hero .video-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
}
section.hero .video-wrapper .bg-video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
section.hero .row {
  position: relative;
  z-index: 1;
  min-height: 80vh;
  max-height: 1200px;
}
section.hero .col-left {
  background: rgb(8, 5, 5);
  background: linear-gradient(180deg, rgb(8, 5, 5) 20%, rgba(8, 5, 5, 0.7) 62%, rgba(8, 5, 5, 0.69) 67%, rgba(8, 5, 5, 0.69) 75%, rgba(8, 5, 5, 0) 100%);
}
@media (min-width: 768px) {
  section.hero .col-left {
    background: linear-gradient(90deg, rgb(8, 5, 5) 20%, rgba(8, 5, 5, 0.7) 62%, rgba(8, 5, 5, 0.69) 67%, rgba(8, 5, 5, 0.69) 75%, rgba(8, 5, 5, 0) 100%);
  }
}
@media (max-width: 768px) {
  section.hero .col-left, section.hero .col-right {
    height: 50%;
  }
}
section.hero .col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
section.hero .col-right .hero-swiper, section.hero .col-right .hero-swiper-r {
  rotate: -30deg;
  transform-origin: center;
}
@media (max-width: 1200px) {
  section.hero .col-right .hero-swiper, section.hero .col-right .hero-swiper-r {
    rotate: -50deg;
  }
}
@media (max-width: 992px) {
  section.hero .col-right .hero-swiper, section.hero .col-right .hero-swiper-r {
    rotate: -50deg;
  }
}
@media (max-width: 768px) {
  section.hero .col-right .hero-swiper, section.hero .col-right .hero-swiper-r {
    rotate: 0deg;
  }
}
section.hero .col-right .hero-swiper-r {
  margin-top: 0px;
}
@media (min-width: 768px) {
  section.hero .col-right .hero-swiper-r {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  section.hero .col-right .hero-swiper-r {
    margin-top: 180px;
  }
}
@media (min-width: 1200px) {
  section.hero .col-right .hero-swiper-r {
    margin-top: 50px;
  }
}
section.hero .col-right .swiper-slide {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 16px;
}
@media (max-width: 992px) {
  section.hero .col-right .swiper-slide {
    width: 135px;
    height: 135px;
  }
}
@media (max-width: 576px) {
  section.hero .col-right .swiper-slide {
    width: 120px;
    height: 120px;
  }
}
section.hero .col-right .swiper-slide:is(:focus, :hover) img {
  scale: 1.1;
}
section.hero .col-right .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
section.hero .col-right .swiper-slide a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: 500ms ease;
}/*# sourceMappingURL=main.css.map */