html{
  color-scheme: dark light;
}
:root{
  /* global colors */
  --facebook-blue: #4267B2;
  --twitter-blue: #1DA1F2;
  --youtube-red: #FF0000;
  --instagram-red: #F56040;
  --stapchat-yellow:#FFFC00;
  --git-hub-gray:#333;
}
body{
  min-height: 100vh;
  background-color: var(--bs-light);
  *, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font: inherit; */
  }
  img, picture, svg, video{
    display: block;
    max-width: 100%;
  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
  quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  content: '';
  content: none;
  }
  input, textarea, button, select{
    font: inherit;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
  }
  // font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  // font-family: 'IBM Plex Serif', serif;
}
/* Variables*/
$max-width-xsmall: 'max-width: 576px';
$min-width-xsmall: 'min-width: 576px';
$max-width-small: 'max-width: 768px';
$min-width-small: 'min-width: 768px';
$max-width-medium: 'max-width: 992px';
$min-width-medium: 'min-width: 992px';
$max-width-large: 'max-width: 1200px';
$min-width-large: 'min-width: 1200px';
//colors 
$primary: var(--bs-primary);
$secondary: var(--bs-secondary);
$dark: var(--bs-dark);
$light: var(--bs-light);
//spacing
$section-y-padding: 100px;
//borders
$border-radius: 16px;

/* components */
.just-align-center{
  justify-content: center;
  align-items: center;
}
.section{
  padding: $section-y-padding 0;
}
.section-dark{
  background-color: #000;
}
.section-title{
  h2{
    transition: all 500ms ease;
    box-sizing: border-box;
    // width: 0;
    overflow: hidden;
    // padding: 0 !important;
    padding: 0 0.25em !important;
    position: relative;
    background-color: inherit;
    &::before{
      content: "";
      position: absolute;
      transition: all 500ms ease;
      width: 100%;
      height: 100%;
      background-color: black;
      top: 0;
      left: 0;
    }
  }
}
.section-title-right{
  @extend .section-title;
  h2{
    border-right: 6px solid $primary;
    transform: translate(-50%, 0)
  }
  &.show{
    h2{
      transform: translate(0,0);
      &::before{
        width: 0;
      }
    }
  }
}
.section-title-left{
  @extend .section-title;
  h2{
    border-left: 6px solid $primary;
    transform: translate(50%, 0);
  }
  &.show{
    h2{
      transform: translate(0,0);
      transform: translate(50%, 0);
      &::before{
        width: 0;
      }
    }
  }
}
/* Custom Anchore Tags */
a.custom-anchor{
  text-decoration: none;
  color: inherit;
  position: relative;
  white-space: nowrap;
}
a.custom-anchor::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: blue;
  bottom: -0.1rem;
  left: 0;
  border-radius: 2px;
}
//text classes
.txt-h1{
  font-family: 'IBM Plex Serif', serif;
  font-size: 2.25rem;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing:.13em ;
  line-height: auto ;
  @media (#{$max-width-medium}){
    &{
      font-size: 1.75rem;
    }
  }
  @media (#{$max-width-small}){
    &{
      font-size: 1.35rem;
    }
  }
}
.txt-feature{
  font-family: 'IBM Plex Serif', serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing:.13em;
  line-height: auto;
  color: $secondary;
}
.txt-body{
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing:.13em;
  line-height: auto;
}
.txt-body-gray{
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing:.13em;
  line-height: auto;
  color: #ADADAD;
}
.txt-title{
  font-family: 'IBM Plex Serif', serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing:.13em;
  line-height: auto;
  color: $light;
  text-transform: uppercase;
}
//custom anchor tags
.a-black{
  text-decoration: none;
  color: black !important; 
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .14em;
  text-align: center;
  svg{
    fill: black;
  }
  &:hover{
    color: $primary !important;
    svg{
      fill: $primary;
    }
  }
  
}
.a-white{
  @extend .a-black;
  color: $light !important;
  font-weight: 300;
  text-transform: capitalize;
}

// header
header{
  z-index: 1000;
  a.nav-link,a.dropdown-item{
    @extend .a-black;
  }
  a.dropdown-item{
    font-size: 1rem;
  }
  @media(#{$max-width-medium}) {
    .navbar-collapse{
      ul{
        min-height: 100vh;
        padding: 0 0 30vh 0;
        justify-content: space-around;
      & li > a.btn{
        width: 50% !important;
      }
      }  
    }
  }
}
// hero
section.hero{
  background-color: black;
  padding-top: 70px;
  padding-bottom: 0px;
  overflow:hidden;
  .video-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    .bg-video{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  
  .row{
    position: relative;
    z-index: 1;
    min-height: 80vh;
    max-height: 1200px;
  }
  .col-left{
    background: rgb(8,5,5);
    background: linear-gradient(180deg, rgba(8,5,5,1) 20%, rgba(8,5,5,0.7) 62%, rgba(8,5,5,0.69) 67%, rgba(8,5,5,0.69) 75%, rgba(8,5,5,0) 100%);
    @media (#{$min-width-small}){
      background: linear-gradient(90deg, rgba(8,5,5,1) 20%, rgba(8,5,5,0.7) 62%, rgba(8,5,5,0.69) 67%, rgba(8,5,5,0.69) 75%, rgba(8,5,5,0) 100%);
    }
  }
  .col-left,.col-right{
    @media (#{$max-width-small}){
      height: 50%;
    }
  }
  .col-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    .hero-swiper, .hero-swiper-r{
      rotate:-30deg;
      transform-origin: center;
      @media(#{$max-width-large}){
        rotate: -50deg
      }
      @media(#{$max-width-medium}){
        rotate: -50deg
      }
      @media(#{$max-width-small}){
        rotate: 0deg
      }
    }
    .hero-swiper-r{
      margin-top: 0px;
      @media(#{$min-width-small}){
        margin-top: 80px;
      }
      @media(#{$min-width-medium}){
        margin-top: 180px;
      }
      @media(#{$min-width-large}){
        margin-top: 50px;
      }

    }
    .swiper-slide{
      width: 150px;
      height: 150px;
      background: linear-gradient(145deg, #f0f0f0, #cacaca);
      box-shadow:  2px 2px 8px #00000077,-2px -2px 8px #00000077;
      
      @media (#{$max-width-medium}){&{
        width: 135px;
        height: 135px;
      }}
      @media (#{$max-width-xsmall}){&{
        width: 120px;
        height: 120px;
      }}
      overflow: hidden;
      border-radius: $border-radius;
      
      @media (#{$min-width-medium}){
        &:is(:focus, :hover){
          img{
            scale: 1.1;
          }
        }
      }
      a{
        display: block;
        width: 100%;
        height: 100%;
        img{
          position: absolute;
          height: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          transition:500ms ease; 
        }
      }
    }
  }
}
section.menu{
  .swiper-slide{
    display: flex;
    justify-content: center;
    width: 30%
  }
  @media (#{$max-width-small}){
    .swiper-slide{
      width: 50%;
    }
  }
  .swiper-slide a{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
    border-radius: 10rem;
    background-color: $dark;
    width: 100%;
    max-width: 220px;
    color: white;
    text-decoration: none;
    transition: transform 300ms ease, background 300ms ease;
    svg{
      fill: white;
      max-width: 100%;
      max-height: 140px;
    }
  }
  .swiper-slide-active a{
    background-color: white;
    color: black;
    transform: translateY(-20px);
    svg{
      fill: $primary
    }
  }
  .swiper-pagination{
    position: relative;
    margin-top: 2rem;
    .swiper-pagination-bullet{
      border-radius: 0;
      width: 40px;
      height: 10px;
      background-color: #fffcfc65;
    }
    .swiper-pagination-bullet-active{
      background-color: white;
    }
  }
  .swiper-button-prev,.swiper-button-next{
    background-color: black;
    color: $light;
    height: 100%;
    padding: 0 1.5rem;
    top: 0;
  }
  .swiper-button-prev{
    left: 0;
    background: linear-gradient(90deg, #000000a1 0%, rgba(0, 0, 0, 0) 100%);
  }
  .swiper-button-next{
    right: 0;
    background: linear-gradient(270deg, #000000a1 0%, rgba(0, 0, 0, 0) 100%);
  }
}