html {
  color-scheme: dark light;
}

:root {
  /* global colors */
  --facebook-blue: #4267B2;
  --twitter-blue: #1DA1F2;
  --youtube-red: #FF0000;
  --instagram-red: #F56040;
  --stapchat-yellow:#FFFC00;
  --git-hub-gray:#333;
}

body {
  min-height: 100vh;
  background-color: var(--bs-light);
  font-family: "IBM Plex Sans Condensed", sans-serif;
}
body *, body *::before, body *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font: inherit; */
}
body img, body picture, body svg, body video {
  display: block;
  max-width: 100%;
}
body table {
  border-collapse: collapse;
  border-spacing: 0;
}
body ol, body ul {
  list-style: none;
}
body blockquote, body q {
  quotes: none;
}
body blockquote:before, body blockquote:after,
body q:before, body q:after {
  content: "";
  content: none;
}
body input, body textarea, body button, body select {
  font: inherit;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 0;
  padding: 0;
}

/* Variables*/
/* components */
.just-align-center {
  justify-content: center;
  align-items: center;
}

.section {
  padding: 100px 0;
}

.section-dark {
  background-color: #000;
}

.section-title h2, .section-title-left h2, .section-title-right h2 {
  transition: all 500ms ease;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 0.25em !important;
  position: relative;
  background-color: inherit;
}
.section-title h2::before, .section-title-left h2::before, .section-title-right h2::before {
  content: "";
  position: absolute;
  transition: all 500ms ease;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
}

.section-title-right h2 {
  border-right: 6px solid var(--bs-primary);
  transform: translate(-50%, 0);
}
.section-title-right.show h2 {
  transform: translate(0, 0);
}
.section-title-right.show h2::before {
  width: 0;
}

.section-title-left h2 {
  border-left: 6px solid var(--bs-primary);
  transform: translate(-50%, 0);
}
.section-title-left.show h2 {
  transform: translate(0, 0);
}
.section-title-left.show h2::before {
  width: 0;
}

/* Custom Anchore Tags */
a.custom-anchor {
  text-decoration: none;
  color: inherit;
  position: relative;
  white-space: nowrap;
}

a.custom-anchor::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: blue;
  bottom: -0.1rem;
  left: 0;
  border-radius: 2px;
}

.txt-h1 {
  font-family: "IBM Plex Serif", serif;
  font-size: 2.25rem;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  line-height: auto;
}
@media (max-width: 992px) {
  .txt-h1 {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .txt-h1 {
    font-size: 1.35rem;
  }
}

.txt-h2 {
  font-size: 2.125rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.075em;
}
@media (max-width: 992px) {
  .txt-h2 {
    font-size: 1.55rem;
  }
}
@media (max-width: 768px) {
  .txt-h2 {
    font-size: 1.45rem;
  }
}

.txt-feature {
  font-family: "IBM Plex Serif", serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.13em;
  line-height: auto;
  color: var(--bs-secondary);
}

.txt-body {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.11em;
  line-height: auto;
}

.txt-body-gray {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.13em;
  line-height: auto;
  color: #ADADAD;
}

.txt-body-gray-light {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.13em;
  line-height: auto;
  color: #706e6e;
}

.txt-title {
  font-family: "IBM Plex Serif", serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.13em;
  line-height: auto;
  color: var(--bs-light);
  text-transform: uppercase;
}

.a-black, header a.nav-link, header a.dropdown-item, .a-white {
  text-decoration: none;
  color: black !important;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.14em;
  text-align: center;
}
.a-black svg, header a.nav-link svg, header a.dropdown-item svg, .a-white svg {
  fill: black;
}
.a-black:hover, header a.nav-link:hover, header a.dropdown-item:hover, .a-white:hover {
  color: var(--bs-primary) !important;
}
.a-black:hover svg, header a.nav-link:hover svg, header a.dropdown-item:hover svg, .a-white:hover svg {
  fill: var(--bs-primary);
}

.a-white {
  color: var(--bs-light) !important;
  font-weight: 300;
  text-transform: capitalize;
}

.border-radius-default {
  border-radius: 16px;
}

header {
  z-index: 1000;
}
header a.dropdown-item {
  font-size: 1rem;
}
@media (max-width: 992px) {
  header .navbar-collapse ul {
    min-height: 100vh;
    padding: 0 0 30vh 0;
    justify-content: space-around;
  }
  header .navbar-collapse ul li > a.btn {
    width: 50% !important;
  }
}

section.hero {
  background-color: black;
  padding-top: 70px;
  padding-bottom: 0px;
  overflow: hidden;
}
section.hero .video-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
}
section.hero .video-wrapper .bg-video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
section.hero .row {
  position: relative;
  z-index: 1;
  min-height: 80vh;
  max-height: 1200px;
}
section.hero .col-left {
  background: rgb(8, 5, 5);
  background: linear-gradient(180deg, rgb(8, 5, 5) 20%, rgba(8, 5, 5, 0.7) 62%, rgba(8, 5, 5, 0.69) 67%, rgba(8, 5, 5, 0.69) 75%, rgba(8, 5, 5, 0) 100%);
}
@media (min-width: 768px) {
  section.hero .col-left {
    background: linear-gradient(90deg, rgb(8, 5, 5) 20%, rgba(8, 5, 5, 0.7) 62%, rgba(8, 5, 5, 0.69) 67%, rgba(8, 5, 5, 0.69) 75%, rgba(8, 5, 5, 0) 100%);
  }
}
@media (max-width: 768px) {
  section.hero .col-left, section.hero .col-right {
    height: 50%;
  }
}
section.hero .col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}
section.hero .col-right .hero-swiper, section.hero .col-right .hero-swiper-r {
  rotate: -30deg;
  transform-origin: center;
}
@media (max-width: 1200px) {
  section.hero .col-right .hero-swiper, section.hero .col-right .hero-swiper-r {
    rotate: -50deg;
  }
}
@media (max-width: 992px) {
  section.hero .col-right .hero-swiper, section.hero .col-right .hero-swiper-r {
    rotate: -50deg;
  }
}
@media (max-width: 768px) {
  section.hero .col-right .hero-swiper, section.hero .col-right .hero-swiper-r {
    rotate: 0deg;
  }
}
section.hero .col-right .hero-swiper-r {
  margin-top: 0px;
}
@media (min-width: 768px) {
  section.hero .col-right .hero-swiper-r {
    margin-top: 80px;
  }
}
@media (min-width: 992px) {
  section.hero .col-right .hero-swiper-r {
    margin-top: 180px;
  }
}
@media (min-width: 1200px) {
  section.hero .col-right .hero-swiper-r {
    margin-top: 50px;
  }
}
section.hero .col-right .swiper-slide {
  width: 150px;
  height: 150px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4666666667), -2px -2px 8px rgba(0, 0, 0, 0.4666666667);
  overflow: hidden;
  border-radius: 16px;
}
@media (max-width: 992px) {
  section.hero .col-right .swiper-slide {
    width: 135px;
    height: 135px;
  }
}
@media (max-width: 576px) {
  section.hero .col-right .swiper-slide {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 992px) {
  section.hero .col-right .swiper-slide:is(:focus, :hover) img {
    scale: 1.1;
  }
}
section.hero .col-right .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
section.hero .col-right .swiper-slide a img {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: 500ms ease;
  -o-object-fit: cover;
     object-fit: cover;
}

section.menu .swiper-slide {
  display: flex;
  justify-content: center;
  width: 30%;
}
@media (max-width: 768px) {
  section.menu .swiper-slide {
    width: 50%;
  }
}
section.menu .swiper-slide a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
  border-radius: 10rem;
  background-color: var(--bs-dark);
  width: 100%;
  max-width: 220px;
  color: white;
  text-decoration: none;
  transition: transform 300ms ease, background 300ms ease;
  overflow: hidden;
}
section.menu .swiper-slide a svg {
  fill: white;
  max-width: 100%;
  max-height: 140px;
  overflow: visible;
}
section.menu .swiper-slide-active a {
  background-color: white;
  color: black;
  transform: translateY(-20px);
}
section.menu .swiper-slide-active a svg {
  fill: var(--bs-primary);
}
section.menu .animated-slide.breakfast a svg .g1, section.menu .breakfast.swiper-slide-active:is(:hover, :focus) a svg .g1 {
  transform-origin: center;
  animation: rotateIn;
  animation-duration: 800ms;
}
section.menu .animated-slide.breakfast a svg .g2, section.menu .breakfast.swiper-slide-active:is(:hover, :focus) a svg .g2 {
  animation: bounce;
  animation-duration: 800ms;
}
section.menu .animated-slide.lunch a svg .g1, section.menu .lunch.swiper-slide-active:is(:hover, :focus) a svg .g1 {
  animation: jackInTheBox;
  animation-duration: 800ms;
}
section.menu .animated-slide.lunch a svg .g2, section.menu .lunch.swiper-slide-active:is(:hover, :focus) a svg .g2 {
  animation: backInLeft;
  animation-duration: 800ms;
}
section.menu .animated-slide.dinner a svg .g1, section.menu .dinner.swiper-slide-active:is(:hover, :focus) a svg .g1 {
  animation: backInLeft;
  animation-duration: 800ms;
}
section.menu .animated-slide.dinner a svg .g2, section.menu .dinner.swiper-slide-active:is(:hover, :focus) a svg .g2 {
  animation: bounceOutLeft;
  animation-duration: 800ms;
}
section.menu .animated-slide.drinks a svg #drink, section.menu .drinks.swiper-slide-active:is(:hover, :focus) a svg #drink {
  animation: swing;
  animation-duration: 800ms;
}
section.menu .animated-slide.specials a svg .g1, section.menu .specials.swiper-slide-active:is(:hover, :focus) a svg .g1 {
  animation: flipInY;
  animation-duration: 800ms;
}
section.menu .animated-slide.deserts a svg .g1, section.menu .deserts.swiper-slide-active:is(:hover, :focus) a svg .g1 {
  animation: flipInY;
  animation-duration: 800ms;
}
section.menu .animated-slide.deserts a svg .g2, section.menu .deserts.swiper-slide-active:is(:hover, :focus) a svg .g2 {
  animation: swing;
  animation-duration: 800ms;
}
section.menu .swiper-pagination {
  position: relative;
  margin-top: 2rem;
}
section.menu .swiper-pagination .swiper-pagination-bullet {
  border-radius: 0;
  width: 40px;
  height: 10px;
  background-color: rgba(255, 252, 252, 0.3960784314);
}
section.menu .swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}
section.menu .swiper-button-prev, section.menu .swiper-button-next {
  background-color: black;
  color: var(--bs-light);
  height: 100%;
  padding: 0 1.5rem;
  top: 0;
}
section.menu .swiper-button-prev {
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.631372549) 0%, rgba(0, 0, 0, 0) 100%);
}
section.menu .swiper-button-next {
  right: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.631372549) 0%, rgba(0, 0, 0, 0) 100%);
}

section.about .underlay-wrapper {
  width: 100%;
}
section.about .underlay-wrapper .underlay, section.about .underlay-wrapper .underlay-right-down, section.about .underlay-wrapper .underlay-left-down {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bs-dark);
  border-radius: 16px;
  top: 50%;
  left: 50%;
  translate: -46% -45%;
  transition: all 500ms ease-in-out;
}
section.about .underlay-wrapper .underlay-left-down {
  translate: -54% -45%;
}
section.about .underlay-wrapper:hover .underlay, section.about .underlay-wrapper:hover .underlay-right-down, section.about .underlay-wrapper:hover .underlay-left-down {
  translate: -50% -50%;
}
section.about .img-wrapper-center {
  height: 400px;
  border-radius: 16px;
}
section.about .img-wrapper-center > img {
  z-index: 10;
}
@media (max-width: 768px) {
  section.about .img-wrapper-center {
    height: 300px;
  }
}

.section.gallery .masonry-grid .masonry-grid-item, .section.gallery .masonry-grid .masonry-grid-sizer {
  width: calc(33% - 5px);
  height: 260px;
  margin-top: 10px;
}
.section.gallery .masonry-grid .masonry-grid-item:last-child, .section.gallery .masonry-grid .masonry-grid-sizer:last-child {
  margin-bottom: 10px;
}
.section.gallery .masonry-grid .masonry-grid-item--width2 {
  width: calc((33% - 5px) * 2);
}
.section.gallery .masonry-grid .masonry-grid-item--height2 {
  height: 520px;
}
@media (max-width: 992px) {
  .section.gallery .masonry-grid .masonry-grid-item, .section.gallery .masonry-grid .masonry-grid-sizer {
    width: calc(50% - 5px);
  }
  .section.gallery .masonry-grid .masonry-grid-item--width2 {
    width: calc((50% - 5px + 5px) * 2);
  }
}
@media (max-width: 768px) {
  .section.gallery .masonry-grid .masonry-grid-item, .section.gallery .masonry-grid .masonry-grid-sizer {
    width: calc(50% - 5px);
  }
  .section.gallery .masonry-grid .masonry-grid-item--width2 {
    width: calc((50% - 5px + 5px) * 2);
  }
}
@media (max-width: 576px) {
  .section.gallery .masonry-grid .masonry-grid-item, .section.gallery .masonry-grid .masonry-grid-sizer {
    width: 100%;
  }
  .section.gallery .masonry-grid .masonry-grid-item--width2 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .section.gallery .masonry-grid .masonry-grid-item--md-width2 {
    width: calc((50% - 5px + 5px) * 2);
  }
  .section.gallery .masonry-grid .masonry-grid-item--md-width1 {
    width: calc(50% - 5px);
  }
}
@media (max-width: 768px) {
  .section.gallery .masonry-grid .masonry-grid-item--sm-width2 {
    width: calc((50% - 5px + 5px) * 2);
  }
  .section.gallery .masonry-grid .masonry-grid-item--sm-width1 {
    width: calc(50% - 5px);
  }
}
@media (max-width: 576px) {
  .section.gallery .masonry-grid .masonry-grid-item--xs-width2 {
    width: calc((100% + 5px) * 2);
  }
  .section.gallery .masonry-grid .masonry-grid-item--xs-width1 {
    width: 100%;
  }
}
.section.gallery .img-wrapper-center {
  overflow: hidden;
}
.section.gallery .img-wrapper-center > img {
  transition: scale 1500ms ease-in-out;
}
.section.gallery .img-wrapper-center:hover > img {
  scale: 1.1;
}/*# sourceMappingURL=main.css.map */