html{
  color-scheme: dark light;
}
:root{
  /* global colors */
  --facebook-blue: #4267B2;
  --twitter-blue: #1DA1F2;
  --youtube-red: #FF0000;
  --instagram-red: #F56040;
  --stapchat-yellow:#FFFC00;
  --git-hub-gray:#333;
}
body{
  min-height: 100vh;
  background-color: var(--bs-light);
  *, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font: inherit; */
  }
  img, picture, svg, video{
    display: block;
    max-width: 100%;
  }
  table {
  border-collapse: collapse;
  border-spacing: 0;
  }
  ol, ul {
  list-style: none;
  }
  blockquote, q {
  quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
  content: '';
  content: none;
  }
  input, textarea, button, select{
    font: inherit;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
  }
  // font-family: 'IBM Plex Mono', monospace;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  // font-family: 'IBM Plex Serif', serif;
}
/* Variables*/
$max-width-xsmall: 'max-width: 576px';
$min-width-xsmall: 'min-width: 576px';
$max-width-small: 'max-width: 768px';
$min-width-small: 'min-width: 768px';
$max-width-medium: 'max-width: 992px';
$min-width-medium: 'min-width: 992px';
$max-width-large: 'max-width: 1200px';
$min-width-large: 'min-width: 1200px';
//colors 
$primary: var(--bs-primary);
$secondary: var(--bs-secondary);

/* components */
.just-align-center{
  justify-content: center;
  align-items: center;
}
/* Custom Anchore Tags */
a.custom-anchor{
  text-decoration: none;
  color: inherit;
  position: relative;
  white-space: nowrap;
}
a.custom-anchor::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: blue;
  bottom: -0.1rem;
  left: 0;
  border-radius: 2px;
}
//text classes
.txt-h1{
  font-family: 'IBM Plex Serif', serif;
  font-size: 2.5rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing:.13em ;
  line-height: auto ;
}
.txt-feature{
  font-family: 'IBM Plex Serif', serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing:.13em;
  line-height: auto;
  color: $secondary;
}
.txt-body-gray{
  font-size: 1.125;
  font-weight: 400;
  letter-spacing:.13em;
  line-height: auto;
  color: #d9d9d9;
}

// header
header{
  z-index: 1000;
  a.nav-link,a.dropdown-item{
    color: black !important; 
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .14em;
    text-align: center;
    &:hover{
      color: $primary !important;
    }
  }
  a.dropdown-item{
    font-size: 1rem;
  }
  @media(#{$max-width-medium}) {
    .navbar-collapse{
      ul{
        min-height: 100vh;
        padding: 0 0 30vh 0;
        justify-content: space-around;
      & li > a.btn{
        width: 50% !important;
      }
      }  
    }
  }
}